body {
    background-color: #f5f5f5;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 35px;
}

/* Styles de la barre de navigation */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  button.btn.btn-outline-primary.text-md-right {
    font-weight: bold;
  }
  /* .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-link {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #000;
  } */

  .card {
    position: relative;
  }

  .card-img-top {
      height: 200px;
      object-fit: contain;
  }
  
  .nav-link:hover {
    color: #007bff;
  }

html {
    overflow-x: hidden;
}

footer, header {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: auto;
}

.container-fluid {
    margin-top: auto;
}

.text-center.p-1 {
    height: 10px;
}


/* color anime */

  .animated-bg {
    background-image: linear-gradient(to right, #FDEDEC, #F9EBEA, #F5EEF8, #EAF2F8, #E8F8F5, #d84a16, #FDFEFE);
    background-size: 200% auto;
    animation: animate-bg 10s linear infinite, pulse 1s ease-in-out infinite;
  }
  
  @keyframes animate-bg {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1); /* Taille normale */
    }
    50% {
      transform: scale(1.05); /* Taille 20% plus grande */
    }
    100% {
      transform: scale(1); /* Taille normale */
    }
  }