body {
    background-color: lightgray;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: auto;
}

.container-fluid {
    margin-top: 45px;
}

.text-center.p-1 {
    height: 10px;
}