{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur votre site préféré de promotions</h1>
        <p class="lead">Découvrez les offres spéciales pour économiser de l'argent sur vos achats.</p>
    </div>

    <div class="col-md-12 justify-content-center">
        <div class=" text-center alert alert-danger">
            <h2>Les Bons Plans</h2>
            {% if promotions %}
            <div class="row">
                {% for promotion in promotions %}
                <div class="col-md-3 mb-3">
                    <div class="card h-100">
                        <img src="{{ promotion.produit.image_url }}" class="card-img-top img-fluid"
                            alt="{{ promotion.produit.libelle }}" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ promotion.produit.libelle }}</h5>
                            <p class="card-text">
                                {% if promotion.produit.categorie.libelle == 'Vetements' %}
                                <i class="fas fa-tshirt"></i>
                                {% elif promotion.produit.categorie.libelle == 'Electronique' %}
                                <i class="fas fa-laptop"></i>
                                {% elif promotion.produit.categorie.libelle == 'Alimentation' %}
                                <i class="fas fa-utensils"></i>
                                {% elif promotion.produit.categorie.libelle == 'Boissons' %}
                                <i class="fas fa-coffee"></i>
                                {% elif promotion.produit.categorie.libelle == 'Entretien' %}
                                <i class="fas fa-broom"></i>
                                {% elif promotion.produit.categorie.libelle == 'Hygiene' %}
                                <i class="fas fa-hand-sparkles"></i>
                                {% elif promotion.produit.categorie.libelle == 'Divers' %}
                                <i class="fas fa-puzzle-piece"></i>
                                {% else %}
                                {{ promotion.produit.categorie.libelle }}
                                {% endif %}
                            </p>
                            {% load custom_filters %}
                            <div class="card-text">
                                <p class="card-text-description">{{ promotion.produit.description|truncate_chars:70 }}
                                </p>
                                <hr>
                                {% if promotion.produit.promotion %}
                                <div>
                                    <strong>Prix avant promotion: </strong>{{ promotion.produit.prix_avant_promo }} €
                                </div>
                                <hr>
                                <div>
                                    <strong>Prix après promotion: </strong>{{ promotion.produit.prix_apres_promo }} €
                                </div>
                                {% else %}
                                <div>
                                    <strong>Prix: </strong>{{ promotion.produit.prix }} €
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Aucun produit en promotion pour le moment.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4 class="text-muted">Filtrer par catégorie</h4>
            <div class="list-group">
                {% for categorie in categories %}
                <a href="{% url 'catalogue' %}?categorie={{ categorie.libelle }}" class="list-group-item">
                    {% if categorie.libelle == 'Vetements' %}
                    <i class="fas fa-tshirt"></i> Vêtements
                    {% elif categorie.libelle == 'Electronique' %}
                    <i class="fas fa-laptop"></i> Electronique
                    {% elif categorie.libelle == 'Alimentation' %}
                    <i class="fas fa-utensils"></i> Alimentation
                    {% elif categorie.libelle == 'Boissons' %}
                    <i class="fas fa-coffee"></i> Boissons
                    {% elif categorie.libelle == 'Entretien' %}
                    <i class="fas fa-broom"></i> Entretien
                    {% elif categorie.libelle == 'Hygiene' %}
                    <i class="fas fa-shower"></i> Hygiène
                    {% elif categorie.libelle == 'Divers' %}
                    <i class="fas fa-puzzle-piece"></i> Divers
                    {% else %}
                    {{ categorie.libelle }}
                    {% endif %}
                </a>
                {% endfor %}

            </div>
            {% if promotions %}
            <div class="row mt-4 alert alert-warning animated-bg">
                <div class="col-md-12 text-center">
                    <h2>Promotions en cours</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div id="promotions-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for promotion in promotions %}
                            <li data-target="#promotions-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for promotion in promotions %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ promotion.produit.image_url }}" class="card-img-top img-fluid" alt="{{ produit.libelle }}"
                                style="height: 350px; object-fit: contain;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ promotion.libelle }}</h5>
                                    <p>{{ promotion.description }}</p>
                                    <a href="{% url 'catalogue' %}?promotion={{ promotion.id }}"
                                        class="btn btn-primary">Voir les produits
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#promotions-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#promotions-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-8 text-center ">
            <h2 class="text-muted">Catalogue</h2>
            {% if produits %}
            <div class="row">
                {% for produit in produits %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ produit.image_url }}" class="card-img-top img-fluid" alt="{{ produit.libelle }}"
                            style="height: 300px; object-fit: contain;">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.libelle }}</h5>
                            <p class="card-text">
                                {% if produit.categorie.libelle == 'Vetements' %}
                                <i class="fas fa-tshirt"></i>
                                {% elif produit.categorie.libelle == 'Electronique' %}
                                <i class="fas fa-laptop"></i>
                                {% elif produit.categorie.libelle == 'Alimentation' %}
                                <i class="fas fa-utensils"></i>
                                {% elif produit.categorie.libelle == 'Boissons' %}
                                <i class="fas fa-coffee"></i>
                                {% elif produit.categorie.libelle == 'Entretien' %}
                                <i class="fas fa-broom"></i>
                                {% elif produit.categorie.libelle == 'Hygiene' %}
                                <i class="fas fa-hand-sparkles"></i>
                                {% elif produit.categorie.libelle == 'Divers' %}
                                <i class="fas fa-puzzle-piece"></i>
                                {% else %}
                                {{ produit.categorie.libelle }}
                                {% endif %}
                            </p>
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text">
                                <strong>Prix : </strong>
                                {% if produit.promotion %}
                                <span class="text-danger font-weight-bold">{{ produit.prix_apres_promo }} €</span>
                                <span class="text-muted"><del>{{ produit.prix_avant_promo }} €</del></span>
                                {% else %}
                                {{ produit.prix }} €
                                {% endif %}
                            </p>
                            {% if produit.promotion %}
                            <p class="card-text">
                                <strong>En promotion : </strong>{{ produit.promotion.pourcentage }}% de remise du
                                {{produit.promotion.date_debut_promo }} au {{ produit.promotion.date_fin_promo }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}
            <div class="alert alert-info" role="alert">
                Aucun produit disponible pour cette catégorie.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}