{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="my-5">
        <h1 class="text-center">Conditions générales de vente</h1>
    </div>

    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Commandes et produits</h2>
            <p class="card-text text-justify">Toutes les commandes sont sujettes à disponibilité. Les produits offerts à la vente sur
                notre site sont décrits avec la plus grande précision possible. Toutefois, nous ne pouvons garantir que
                les descriptions ou les images des produits sont exactes, complètes, fiables, actuelles ou exemptes
                d'erreurs. Les prix affichés sur notre site sont en euros, toutes taxes comprises, hors frais
                d'expédition.</p>
        </div>
    </div>

    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Paiement et facturation</h2>
            <p class="card-text text-justify">Nous acceptons les modes de paiement suivants : carte de crédit, PayPal, virement
                bancaire. Vous garantissez que vous êtes autorisé à utiliser le mode de paiement choisi pour votre
                commande. Nous nous réservons le droit de refuser ou d'annuler toute commande en cas de fraude présumée
                ou de non-paiement.</p>
        </div>
    </div>

    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Livraison et expédition</h2>
            <p class="card-text text-justify">Nous expédions nos produits dans les pays mentionnés sur notre site. Les frais
                d'expédition sont calculés en fonction du poids, de la destination et du mode de livraison choisi. Nous
                nous engageons à expédier votre commande dans un délai raisonnable et à vous informer en cas de retard
                ou de problème avec la livraison.</p>
        </div>
    </div>

    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Retours et remboursements</h2>
            <p class="card-text text-justify">Nous acceptons les retours de produits dans un délai de 14 jours à compter de la
                réception de votre commande, à condition que les produits soient retournés dans leur état d'origine et
                dans leur emballage d'origine. Nous nous réservons le droit de refuser les retours en cas de non-respect
                de ces conditions. Les frais de retour sont à votre charge. En cas de retour accepté, nous vous
                rembourserons le montant payé pour les produits retournés.</p>
        </div>
    </div>

    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Limitation de responsabilité</h2>
            <p class="card-text text-justify">Nous ne serons pas responsables des pertes, dommages ou dépenses indirectes ou
                consécutives découlant de l'utilisation de nos produits ou de l'incapacité à utiliser nos produits.
                Notre responsabilité totale envers vous en cas de dommages causés par nos produits sera limitée au
                montant payé pour les produits concernés.</p>
        </div>
    </div>
    <div class="card border-0 my-4">
        <div class="card-body">
            <h2 class="card-title">Propriété intellectuelle</h2>
            <p class="card-text text-justify">Tous les contenus de notre site, y compris les images, textes, graphismes, logos,
                boutons, icônes, sont protégés par des droits de propriété intellectuelle et appartiennent à notre
                société ou à nos fournisseurs. Toute reproduction, distribution, modification, transmission ou
                utilisation de ces contenus sans notre autorisation écrite est strictement interdite.</p>
        </div>
    </div>
</div>
{% endblock %}