{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="my-5">
        <h1 class="text-center">Politique de confidentialité</h1>
    </div>

    <div class="card border-0">
        <div class="card-body">
            <h2 class="card-title">Informations sur la collecte des données</h2>
            <p class="card-text text-justify">Nous collectons les informations personnelles que vous nous fournissez directement
                lorsque vous créez un compte sur notre site, passez une commande ou vous inscrivez à notre newsletter.
                Les informations collectées peuvent inclure votre nom, votre adresse, votre adresse e-mail et votre
                numéro de téléphone. Nous pouvons également collecter des informations sur votre utilisation de notre
                site, telles que les pages que vous visitez et les produits que vous consultez.
            </p>
        </div>
    </div>

    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Utilisation des données</h2>
            <p class="card-text text-justify">Nous utilisons les informations que nous collectons pour traiter vos commandes,
                expédier vos produits, vous contacter en cas de problème et pour vous envoyer des informations sur nos
                offres et promotions en cours. Nous pouvons également utiliser vos informations pour améliorer notre
                site Web et personnaliser votre expérience utilisateur.
            </p>
        </div>
    </div>

    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Partage des données</h2>
            <p class="card-text text-justify">Nous ne vendrons, ne louerons ni ne partagerons jamais vos informations personnelles
                avec des tiers, sauf si la loi l'exige ou si cela est nécessaire pour traiter votre commande. Nous ne
                partagerons vos informations qu'avec des tiers qui sont conformes à nos normes de sécurité et de
                confidentialité.
            </p>
        </div>
    </div>

    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Sécurité des données</h2>
            <p class="card-text text-justify">Nous prenons la sécurité de vos informations personnelles très au sérieux et avons mis
                en place des mesures de sécurité appropriées pour protéger vos données contre la perte, l'utilisation
                abusive et l'accès non autorisé. Nous utilisons des protocoles de cryptage pour protéger les
                informations sensibles et surveillons l'accès aux données en continu pour détecter tout accès non
                autorisé.
            </p>
        </div>
    </div>

    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Cookies et technologies similaires</h2>
            <p class="card-text text-justify">Nous utilisons des cookies et des technologies similaires pour suivre les préférences
                de navigation et personnaliser le contenu. Les cookies nous permettent de vous reconnaître lors de votre
                prochaine visite sur notre site et de personnaliser le contenu en fonction de vos préférences. Vous
                pouvez désactiver les cookies dans les paramètres de votre navigateur, mais cela peut limiter l'accès à
                certaines fonctionnalités de notre site.
            </p>
        </div>
    </div>

    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Modification de notre politique de confidentialité</h2>
            <p class="card-text text-justify">Nous nous réservons le droit de modifier notre politique de confidentialité à tout
                moment. Les changements seront publiés sur cette page et entreront en vigueur immédiatement après leur
                publication. Il est de votre responsabilité de consulter régulièrement cette page pour être informé des
                changements éventuels.
            </p>
        </div>

    </div>
    <div class="card border-0 mt-4">
        <div class="card-body">
            <h2 class="card-title">Contactez-nous</h2>
            <p class="card-text text-justify">Si vous avez des questions ou des préoccupations concernant notre politique de
                confidentialité, vous
                pouvez nous contacter par e-mail à l'adresse suivante :
                <a id="email-link" href="#">support@mercadona-retail.com</a>
            </p>
        </div>

    </div>
</div>
{% endblock %}