{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="my-5">
    <h1 class="text-center">Mentions légales</h1>
  </div>
  
  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Informations légales</h2>
      <p class="card-text text-justify">Mercadona est une société enregistrée en France, dont le siège social est situé à 34, rue des
        Marché 92012 Boulogne-billancourt. Elle est immatriculée au registre du commerce et des sociétés sous le numéro
        1234ABCD5678 et son numéro de TVA intracommunautaire est FR 32 123456789.
      </p>
    </div>
  </div>

  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Responsabilité</h2>
      <p class="card-text text-justify">Mercadona ne peut en aucun cas être tenue responsable des dommages directs ou indirects
        résultant de l'utilisation de son site web, ou de l'impossibilité d'y accéder, y compris les pertes de profit,
        d'interruption d'activité, de perte de programmes ou de données.
      </p>
    </div>
  </div>

  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Contenu du site web</h2>
      <p class="card-text text-justify">Mercadona s'efforce de fournir sur son site web des informations aussi précises que possible.
        Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à
        jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
      </p>
    </div>
  </div>

  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Liens vers d'autres sites web</h2>
      <p class="card-text text-justify">Le site web de Mercadona peut contenir des liens vers d'autres sites web qui ne sont pas sous
        son contrôle. Mercadona ne pourra en aucun cas être tenue responsable du contenu de ces sites web, ni des
        éventuels préjudices causés par leur utilisation.
      </p>
    </div>
  </div>

  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Propriété intellectuelle</h2>
      <p class="card-text text-justify">Tous les éléments du site web de Mercadona, y compris les textes, les images, les graphismes,
        les logos, les vidéos et les documents téléchargeables, sont la propriété exclusive de Mercadona ou de ses
        partenaires et sont protégés par les lois françaises et internationales sur la propriété intellectuelle.
      </p>
    </div>
  </div>

  <div class="card border-0 mb-4">
    <div class="card-body">
      <h2 class="card-title">Protection des données personnelles</h2>
      <p class="card-text text-justify">Mercadona s'engage à protéger les données personnelles des utilisateurs de son site web
        conformément à la réglementation en vigueur. Les données collectées sont utilisées dans le cadre de la gestion
        des demandes des utilisateurs et de la fourniture des services demandés. Les utilisateurs disposent d'un droit
        d'accès, de rectification, d'opposition et de suppression des données les concernant en contactant Mercadona par
        le biais des coordonnées fournies sur le site web.
        Pour en savoir plus sur notre politique de confidentialité, veuillez consulter la page suivante : <a
          href="https://mercadona-retail.fly.dev/confidentialites">Page de confidentialites</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}