mercadona/.env
../../Dockerfile
../../.dockerignore
../../.gitignore
../django_env/
db.json
sql_scripts.sql
Dockerfile
.dockerignore
fly.toml
upload.py
db.sqlite3
static/images/
../../fly-promos-db-dump
fly-promos-db-dump
mercadona_promos/static/images/*