mercadona/.env
requirements.txt
../../Dockerfile
../../.dockerignore
../../.gitignore
../django_env/
db.json
sql_scripts.sql
Dockerfile
.dockerignore
fly.toml
upload.py
db.sqlite3
mercadona_promos/static/images/